<!DOCTYPE html>
<html>
<body>

<h1>
	Jobs
</h1>
<hr>
<td> <button><%= link_to " myapplication" %> </button></td>
<table>
<thead>
<th>Job Title</th>
<th>Description</th>
<th>Salary</th>
</thead>

<% @jobs.each do |job| %>
<tr>
    <td><%= job.title -%> </td> 
	<td><%= job.desc -%></td>
    <td><%= job.salary -%></td>
    <td><button><%= link_to "Edit", edit_job_path(job) %></button></td>
	<td> <button><%= link_to "Delete", job, method: :delete, data: { confirm: "delete this job?"} %></button> </td>
	<td><button> <%= link_to "Apply this job", edit_job_path(job) %></button></td>
</tr>
<% end -%>
	<td><button> <%= link_to "add new Job", new_job_path %></button> </td>
</table>

<hr>
</body>
</html>