!DOCTYPE html>
<html>
<body>

<h1>
	my application
</h1>
<hr>
<table>
<thead>
<th>Job Title</th>
<th>Description</th>
<th>Salary</th>
</thead>

<% @jobs.each do |job| %>
<tr>
    <td><%= job.title -%> </td> 
	<td><%= job.desc -%></td>
    <td><%= job.salary -%></td>
	<td> <%= link_to "Delete", job, method: :delete, data: { confirm: "delete this job?"} %> </td>
</tr>
<% end -%>
</table>

<hr>
</body>
</html>