<%= form_for @job do |n| %>
<div>
  <%= n.label :title %>
  <%= n.text_field :title %>
</div>
<div>
  <%= n.label :desc%>
  <%= n.text_area :desc %>
</div>
<div>
  <%= n.label :salary%>
  <%= n.number_field :salary %>
</div>
<div>
  <%= n.submit %>
</div>
<% end %>