<!DOCTYPE html>
<html>
  <head>
     <title>Login and Registration</title>
  </head>

  <body>
  <h1>Login Page </h1>
  <form action="/sessions" method="POST">

<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
<br>
<input type="email" name="login[email]" placeholder="Enter the Email">
<br>
<input type="password" name="login[password]" placeholder="please Enter Password">	
<br>
<input type="submit" name="submit" class="submit">
</form>

<hr>

<div class="errors">
	<%if flash[:login_errors] %>
	<%if flash[:login_errors].each do |error|  %>
	<p> <%=error%></p>
	<% end -%>
	<% end -%>
</div>

	<% end -%>

<h1>Registration</h1>

<form action="/users" method="POST">
	<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
	<br>
	<input type="name" name="user[name]" placeholder="Enter userName">
	<br>
	<input type="email" name="user[email]" placeholder="Enter Email">
	<br>
	<input type="password" name="user[password]" placeholder="Enter Password">
	<br>
	<input type="password" name="user[password_confirmation]" placeholder="password confirmation">
	<br>
	<input type="submit" name="submit" class="submit">
</form>

<div class="errors">
	<%if flash[:register_errors] %>
	<%if flash[:register_errors].each do |error|  %>
	<p> <%=error%></p>
	<% end -%>
	<% end -%>
</div>
	<% end -%>



  </body>
</html>
